<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oberflaeche_kaelber.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Oberflaeche_kaelber.Forms.Properties.Settings>
            <setting name="PKleinMilch1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PKleinMilch2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PKleinMilch3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinMilch15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinKaelberstarter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinHeu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinWasser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PKleinSilofutter" serializeAs="String">
                <value>0</value>
            </setting>
        </Oberflaeche_kaelber.Forms.Properties.Settings>
    </userSettings>
</configuration>